body {
    padding-left: 50px;
}

/* 侧边栏样式 */
.chrome-plugin-gpt-prompt-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: #333;
    z-index: 9999;
}

/* 选项卡样式 */
.chrome-plugin-gpt-prompt-tab {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-left: solid 3px #333;
    text-align: center;
    line-height: 50px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    box-sizing: border-box;
}

.chrome-plugin-gpt-prompt-tab>svg {
    width: 36px;
}

/* 选项卡选中样式 */
.chrome-plugin-gpt-prompt-tab.active {
    border-left-color: #fff;
    color: #fff;
}

.chrome-plugin-gpt-prompt-tab:last-child {
    bottom: 0;
    position: fixed;
}

/* container样式 */
.chrome-plugin-gpt-prompt-container {
    display: none;
    margin-left: 50px;
    width: calc(100% - 50px);
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    position: fixed;
    background: #ccc;
    z-index: 999;
    font-size: 14px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
}

.chrome-plugin-gpt-prompt-container-iframe {
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.chrome-plugin-gpt-prompt-left-col {
    padding: 10px;
}

.chrome-plugin-gpt-prompt-left-col,
.chrome-plugin-gpt-prompt-right-col {
    box-sizing: border-box;
    font-size: 14px;
    height: 100%;
}

.chrome-plugin-gpt-prompt-left-col {
    width: 300px;
}

.chrome-plugin-gpt-prompt-left-row-left {
    width: 200px;
}

.chrome-plugin-gpt-prompt-left-row-right {
    width: 50px;
    display: flex;
    align-items: center;
}

.chrome-plugin-gpt-prompt-left-row:not(:first-child) {
    margin-top: 10px;
}

.chrome-plugin-gpt-prompt-left-row-header {
    display: flex;
    justify-content: space-between;
}

.chrome-plugin-gpt-prompt-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.chrome-plugin-gpt-prompt-title {
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 50px;
    margin-top: 50px;
}

.chrome-plugin-gpt-prompt-title>svg {
    width: 80px;
    height: 80px;
}

.chrome-plugin-gpt-prompt-title.active {
    color: #eee;
    text-shadow: 0 0 10px #0ebeff, 0 0 20px #0ebeff, 0 0 50px #0ebeff, 0 0 100px #0ebeff, 0 0 200px #0ebeff;
}

.chrome-plugin-gpt-prompt-title>span {
    margin-right: 20px;
    animation-name: chrome-plugin-gpt-prompt-flicker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-iteration-count: 1;
}

.chrome-plugin-gpt-prompt-title>#title-0 {
    animation-delay: .2s;
}

.chrome-plugin-gpt-prompt-title>#title-1 {
    animation-delay: .4s;
}

.chrome-plugin-gpt-prompt-title>#title-2 {
    animation-delay: .6s;
}

.chrome-plugin-gpt-prompt-title>#title-3 {
    animation-delay: .8s;
}

@keyframes chrome-plugin-gpt-prompt-flicker {
    0% {
        color: #333;
    }

    5%,
    15%,
    25%,
    30%,
    100% {
        color: #eee;
        text-shadow: 0 0 10px #0ebeff, 0 0 20px #0ebeff, 0 0 50px #0ebeff, 0 0 100px #0ebeff, 0 0 200px #0ebeff;
    }

    10%,
    20% {
        color: #333;
        text-shadow: none;
    }
}

.chrome-plugin-gpt-prompt-desc {
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 24px;
    margin-top: 50px;
}

.chrome-plugin-gpt-prompt-desc:nth-child(2) {
    margin-top: 20px;
}